# Python
*.pyc
*.pyo
__pycache__/

# Django settings
settings.py
local_settings.py
secret_key.txt

# Virtual environments
geronforu
venv/
env/
*.env

# Database files
db.sqlite3

# Media files
/media

# Static files
/static

# IDE-specific files (example for VS Code)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/