{% extends "base.html" %}

{% block title %}Запись на занятия{% endblock %}

{% block content %}
    <div class="register-form"  style=" height: 700px; display: flex; justify-content: center;">
        <form method="POST" id="membership-form"  style=" height: 700px; display: flex; justify-content: center;">
            {% csrf_token %}
            <div class="form-group" style="display: flex; justify-content: center;">
                <label for="id_parent_name">ФИО родителя:</label>
                {{ form.parent_name }}
                {% if form.parent_name.errors %}
                    <div class="error">{{ form.parent_name.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group" style="display: flex; justify-content: center;">
                <label for="id_child_name">ФИО ученика:</label>
                {{ form.child_name }}
                {% if form.child_name.errors %}
                    <div class="error">{{ form.child_name.errors }}</div>
                {% endif %}
            </div>
    
            <div class="form-group" style="display: flex; justify-content: center;">
                <label for="id_membership_type">План обучения:</label>
                {{ form.membership_type }}
                {% if form.membership_type.errors %}
                    <div class="error">{{ form.membership_type.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group" style="display: flex; justify-content: center;">
                <label for="id_start_date">Дата начала:</label>
                {{ form.start_date }}
                {% if form.start_date.errors %}
                    <div class="error">{{ form.start_date.errors }}</div>
                {% endif %}
            </div>
    
            <div class="form-group" id="price-container" style="display: flex; justify-content: center;">
                <label for="id_price">Цена:</label>
                <label id="id_price"></span>
            </div>
    
            <div class="form-errors">
                {% if form.errors %}
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
    
            <div class="btn" style="display: flex; justify-content: center;"><button type="submit" class="btn btn-primary" style="display: flex; justify-content: center;">Оформить</button> </div>
        </form>
    </div>
    

    <script type="text/javascript">
        function updatePrice() {
            const membershipType = document.getElementById('id_membership_type').value;
            const priceContainer = document.getElementById('price-container');
            const priceSpan = document.getElementById('id_price');
            let priceText = '';
            switch (membershipType) {
                case '1_month':
                    priceText = '10000 тенге';
                    break;
                case '3_months':
                    priceText = '30000 тенге';
                    break;
                case '6_months':
                    priceText = '60000 тенге';
                    break;
                case '1_year':
                    priceText = '110000 тенге';
                    break;
                default:
                    priceText = '';
            }
            
            priceSpan.textContent = priceText;
        }

        document.getElementById('id_membership_type').addEventListener('change', updatePrice);
        updatePrice();
    </script>
{% endblock %}
